/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  height: 100vh;
  width: 100%;
  background-image: url(images/bg_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  height: 100vh;
  width: 100%;
}
.form {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}
.form .number {
  font-size: 1vw;
  font-weight: bold;
}
.form .number span {
  color: #9e9b9b;
  font-size: 1vw;
  font-weight: bold;
}
.form .icons i {
  padding-left: 1.2vw;
}
nav {
  margin-top: 1vw !important;
  padding: 1vw 1vw !important;
  background: white !important;
}
.navbar-brand a {
  margin-top: 0.5vw !important;
}
.navbar-brand span {
  color: rgb(240, 79, 165);
  font-size: 1.2vw;
}
.nav-item {
  padding-top: 0.5vw;
  font-weight: 600 !important;
}
.nav-item .sr-only a {
  color: rgb(240, 79, 165) !important ;
}
.nav-item .sr-only a:hover {
  color: black !important;
}
.button-1 {
  background: #fd4c82 !important;
  padding: 1vw;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}
.button-1:hover {
  color: black;
}

.second-para {
  margin-top: 2vw;
  margin-left: 1vw;
}
.second-para h1 {
  font-weight: 800;
  font-size: 4vw;
}
.second-para p {
  color: #6c757d;
  margin-top: 1vw;
}
.buttons {
  margin-top: 1vw !important;
  margin-left: 1vw;
}
.pink-button {
  border: none;
  border-radius: 0.6vw;
  outline: none;
  background-color: #fd4c82;
  color: white;
  padding: 1.1vw;
}
.green-button {
  border: none;
  border-radius: 0.6vw;
  outline: none;
  background-color: #91c235;
  color: white;
  font-weight: bold;
  padding: 1.1vw 1.2vw;
  margin-left: 0.4vw;
}
.green-button:hover {
  background: white;
  outline: 1px solid #91c235;
  color: #91c235;
}
.boxes {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2vw;
  /* text-align: center; */
  margin-top: 2vw;
  margin-left: 1.2vw;
  /* margin-bottom: 4vw; */
}
.box-1 {
  height: 12vw;
  width: 30vw;
  border-radius: 0.6vw;
  padding-top: 1.5vw;
  background: white;
}
.box-1 img {
  width: 7.5vw;
  height: 5vw;
  padding-left: 2vw;
}

.box-1 span {
  padding-left: 3.4vw;
  font-size: 1.3vw;
}
.box-1 p {
  padding-left: 11vw;
}
.box-1:hover {
  background: #fd4c82;
  color: white;
  cursor: pointer;
}
.box-2 {
  height: 12vw;
  width: 30vw;
  border-radius: 0.6vw;
  padding-top: 1.5vw;
  background: white;
}
.box-2 img {
  width: 7.5vw;
  height: 5vw;
  padding-left: 2vw;
}
.box-2 span {
  padding-left: 2.8vw;
  font-size: 1.3vw;
}
.box-2 p {
  padding-left: 10.3vw;
}
.box-2:hover {
  background: #fd4c82;
  color: white;
  cursor: pointer;
}
.box-3 {
  height: 12vw;
  width: 30vw;
  border-radius: 0.6vw;
  padding-top: 1.5vw;
  background: white;
}
.box-3 img {
  width: 7.5vw;
  height: 5vw;
  padding-left: 2vw;
}
.box-3 span {
  padding-left: 1.5vw;
  font-size: 1.3vw;
}
.box-3 p {
  padding-left: 9vw;
}
.box-3:hover {
  background: #fd4c82;
  color: white;
  cursor: pointer;
}
.container-fluid {
  height: 130vh;
  width: 100%;
  margin-top: 15vw;
  display: flex;
}
.image-fluid img {
  height: 53vw;
  margin-left: 5vw;
}
.colors-fluid {
  margin-top: 7vw;
  margin-left: 7vw;
}
.colors-fluid h6 {
  font-size: 1vw;
  color: #fd4e83;
  font-weight: bold;
}
.colors-fluid h1 {
  font-weight: bolder;
}
.colors-fluid p {
  color: #6c757d;
  margin-top: 2vw;
  margin-bottom: 3vw;
}
.colors-fluid img {
  height: 3.4vw;
  margin-bottom: 1vw;
}
.colors-fluid .textcenter {
  margin-left: 1vw;
  font-weight: bolder;
  font-size: 1.4vw;
}
.next-part {
  height: 52vh;
  width: 100%;
  background: whitesmoke;
}
.next-part h6 {
  font-size: 1vw;
  padding-top: 4vw;
  font-weight: 800;
  padding-bottom: 3vw;
  color: #fd4c82;
}
.input-forms {
  margin-left: 6vw;
}
input {
  height: 4vw;
  width: 18vw;
  /* padding: 10px; */
  padding-left: 2%;
  outline: none;
  border: none;
  /* background: whitesmoke;
  outline: 1px solid black; */
}
.name1 {
  margin-right: 3vw;
}
.name2 {
  margin-right: 3vw;
}
.name3 {
  margin-right: 3vw;
}
.name4 {
  margin-right: 2.8vw;
}
.name1::placeholder {
  color: black;
}
.name2::placeholder {
  color: black;
}
.name3::placeholder {
  color: black;
}
.name7::placeholder {
  color: black;
}
.name6::placeholder {
  color: black;
}
.name5 {
  margin-right: 2.8vw;
}
.name6 {
  margin-right: 2.2vw;
}
.greens-button {
  border: none;
  border-radius: 0.6vw;
  outline: none;
  background-color: #91c235;
  color: white;
  /* font-weight: bold; */
  padding: 1.1vw 5.3vw;
  margin-left: 0.4vw;
}
.greens-button:hover {
  background: white;
  outline: 1px solid #91c235;
  color: #91c235;
}
.Groomers-part {
  height: 83vh;
  width: 100%;
}
.Groomers-part h6 {
  font-size: 1vw;
  color: #fd4c82;
  margin-top: 10vw;
  font-weight: 800;
}
.Groomers-part h1 {
  font-weight: bolder;
}
.cards-start {
  display: flex;
}
.card-1 {
  margin-top: 10vw;
  margin-left: 6vw;
  width: 20vw;
  height: 22vw;
  background: whitesmoke;
}
.card-1 img {
  height: 16vw;
  border: 10px solid white;
  margin-top: -6vw;
  width: 16vw;
  margin-left: 2vw;
  border-radius: 50%;
}
.card-1 h2 {
  font-size: 1.5vw;
  margin-top: 1vw;
  color: black;
  font-weight: bold;
  margin-left: 6vw;
}
.card-1 p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bolder;
  color: #fd4c82;
  margin-left: 6.7vw;
}
.card-1 .icons-2 {
  margin-left: 2.5vw;
}
.icons-2 i {
  margin-left: 1vw;
  font-size: larger;
}
.bg-op i {
  background: #fd4c82;
  color: white;
  padding: 0.3vw 0.5vw;
  border-radius: 0.3vw;
}
.card-1:hover {
  background: #91c235;
  color: white;
  transition: 0.2s;
}
.card-1,
h2:hover {
  color: white;
}
.card-1,
p:hover {
  color: white;
}
.icons-2 i:hover {
  background: white;
  color: #91c235;
}
.hoverl:hover {
  color: white;
  background: #91c235;
}

.card-3 {
  margin-top: 10vw;
  margin-left: 2vw;
  width: 20vw;
  height: 22vw;
  background: whitesmoke;
}
.card-3 img {
  height: 16vw;
  border: 10px solid white;
  margin-top: -6vw;
  width: 16vw;
  margin-left: 2vw;
  border-radius: 50%;
}
.card-3 h2 {
  font-size: 1.5vw;
  margin-top: 1vw;
  color: black;
  font-weight: bold;
  margin-left: 7vw;
}
.card-3 p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bolder;
  color: #fd4c82;
  margin-left: 7.9vw;
}
.card-3 .icons-2 {
  margin-left: 2.5vw;
}
.icons-3 i {
  margin-left: 1vw;
  font-size: larger;
}
.bg-op i {
  background: #fd4c82;
  color: white;
  padding: 0.3vw 0.5vw;
  border-radius: 0.3vw;
}
.card-3:hover {
  background: #91c235;
  color: white;
  transition: 0.2s;
}
.card-3,
h2:hover {
  color: white;
}
.card-3,
p:hover {
  color: white;
}
.icons-2 i:hover {
  background: white;
  color: #91c235;
}
.hoverl:hover {
  color: white;
  background: #91c235;
}

.card-2 {
  margin-top: 6vw;
  margin-left: 2vw;
  width: 20vw;
  height: 22vw;
  background: whitesmoke;
}
.card-2 img {
  height: 16vw;
  border: 10px solid white;
  margin-top: -6vw;
  width: 16vw;
  margin-left: 2vw;
  border-radius: 50%;
}
.card-2 h2 {
  font-size: 1.5vw;
  margin-top: 1vw;
  color: black;
  font-weight: bold;
  margin-left: 6vw;
}
.card-2 p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bolder;
  color: #fd4c82;
  margin-left: 6.7vw;
}
.card-2 .icons-2 {
  margin-left: 2.5vw;
}
.icons-2 i {
  margin-left: 1vw;
  font-size: larger;
}
.bg-op i {
  background: #fd4c82;
  color: white;
  padding: 0.3vw 0.5vw;
  border-radius: 0.3vw;
}
.card-2:hover {
  background: #91c235;
  color: white;
  transition: 0.2s;
}
.card-2,
h2:hover {
  color: white;
}
.card-2,
p:hover {
  color: white;
}
.icons-2 i:hover {
  background: white;
  color: #91c235;
}
.hoverl:hover {
  color: white;
  background: #91c235;
}

.card-4 {
  margin-top: 10vw;
  margin-left: 2vw;
  width: 20vw;
  height: 22vw;
  background: whitesmoke;
}
.card-4 img {
  height: 16vw;
  border: 10px solid white;
  margin-top: -6vw;
  width: 16vw;
  margin-left: 2vw;
  border-radius: 50%;
}
.card-4 h2 {
  font-size: 1.5vw;
  margin-top: 1vw;
  color: black;
  font-weight: bold;
  margin-left: 4.5vw;
}
.card-4 p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bolder;
  color: #fd4c82;
  margin-left: 7.9vw;
}
.card-4 .icons-2 {
  margin-left: 2.5vw;
}
.icons-3 i {
  margin-left: 1vw;
  font-size: larger;
}
.bg-op i {
  background: #fd4c82;
  color: white;
  padding: 0.3vw 0.5vw;
  border-radius: 0.3vw;
}
.card-4:hover {
  background: #91c235;
  color: white;
  transition: 0.2s;
}
.card-4,
h2:hover {
  color: white;
}
.card-4,
p:hover {
  color: white;
}
.icons-2 i:hover {
  background: white;
  color: #91c235;
}
.hoverl:hover {
  color: white;
  background: #91c235;
}

.card-2 {
  margin-top: 10vw;
  margin-left: 2vw;
  width: 20vw;
  height: 22vw;
  background: whitesmoke;
}
.card-2 img {
  height: 16vw;
  border: 10px solid white;
  margin-top: -6vw;
  width: 16vw;
  margin-left: 2vw;
  border-radius: 50%;
}
.card-2 h2 {
  font-size: 1.5vw;
  margin-top: 1vw;
  color: black;
  font-weight: bold;
  margin-left: 5vw;
}
.card-2 p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bolder;
  color: #fd4c82;
  margin-left: 7.8vw;
}
.card-2 .icons-2 {
  margin-left: 2.5vw;
}
.icons-2 i {
  margin-left: 1vw;
  font-size: larger;
}
.bg-op i {
  background: #fd4c82;
  color: white;
  padding: 0.3vw 0.5vw;
  border-radius: 0.3vw;
}
.card-2:hover {
  background: #91c235;
  color: white;
  transition: 0.2s;
}
.card-2,
h2:hover {
  color: white;
}
.card-2,
p:hover {
  color: white;
}
.icons-2 i:hover {
  background: white;
  color: #91c235;
}
.hoverl:hover {
  color: white;
  background: #91c235;
}
/* bg-attach-section */

.bg-attachment {
  height: 345vh;
  width: 100%;
  background: whitesmoke;
}
.bg-attachment h6 {
  font-size: 1vw;
  color: #fd4c82;
  margin-top: 6vw;
  padding-top: 8vw;
  font-weight: 800;
}
.bg-attachment h1 {
  font-weight: bolder;
}
.one-again-cards-start {
  display: flex;
  justify-content: center;
}

/* cards-1 */

.cards-1 {
  height: 52vw;
  width: 20vw;
  /* margin-left: 6vw; */
  margin-top: 5vw;
  background: white;
  border-radius: 0.8vw;
  box-sizing: border-box;
}
.cards-1 img {
  height: 15vw;
  width: 20vw;
  box-sizing: border-box;
  border-radius: 0.8vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
}
.cards-1 h2 {
  font-size: 1.3vw;
  color: #fd4c82;
  margin-left: 8vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-weight: bold;
}
.cards-1 .lesser {
  margin-left: 6.3vw;
  font-size: 3vw;
  color: #9e9b9b;
}
.cards-1 .greater {
  font-size: 4vw;
  font-weight: 800;
  color: #fd4c82;
}
.cards-1 .smaller {
  font-size: 1.5vw;
  color: #9e9b9b;
}
.icon-padding {
  margin-top: 2vw;
  margin-left: 2.3vw;
  margin-bottom: 2vw;
}
.icon-padding .icon {
  padding: 1vw 4vw;
  background: whitesmoke;
}
.icon i {
  color: #fd4c82;
}
.iconss {
  margin-left: 6.3vw;
  margin-bottom: 2vw;
}
.iconss i {
  color: #fd4c82;
}
.iconsss {
  background: whitesmoke;
  padding: 1vw 4.5vw;
  margin-left: 2.1vw;
}
.iconsss i {
  color: #fd4c82;
}
.iconssss {
  padding-top: 2vw;
  padding-bottom: 4vw;
  margin-left: 5.7vw;
}
.iconssss i {
  color: #fd4c82;
}
.card-button {
  background: #fd4c82;
  margin-left: 2.9vw;
  padding: 1vw 4vw;
  border: none;
  border-radius: 0.6vw;
  outline: none;
  color: white;
}

/* cards-2 */

.cards-2 {
  height: 52vw;
  width: 20vw;
  margin-left: 2vw;
  margin-top: 5vw;
  background: white;
  border-radius: 0.8vw;
  box-sizing: border-box;
}
.cards-2 img {
  height: 15vw;
  width: 20vw;
  box-sizing: border-box;
  border-radius: 0.8vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
}
.cards-2 h2 {
  font-size: 1.3vw;
  color: #fd4c82;
  margin-left: 6.5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-weight: bold;
}
.cards-2 .lesser {
  margin-left: 6.3vw;
  font-size: 3vw;
  color: #9e9b9b;
}
.cards-2 .greater {
  font-size: 4vw;
  font-weight: 800;
  color: #fd4c82;
}
.cards-2 .smaller {
  font-size: 1.5vw;
  color: #9e9b9b;
}
.icon-padding {
  margin-top: 2vw;
  margin-left: 2.3vw;
  margin-bottom: 2vw;
}
.icon-padding .icon {
  padding: 1vw 4vw;
  background: whitesmoke;
}
.icon i {
  color: #fd4c82;
}
.iconss {
  margin-left: 6.3vw;
  margin-bottom: 2vw;
}
.iconss i {
  color: #fd4c82;
}
.iconsss {
  background: whitesmoke;
  padding: 1vw 4.5vw;
  margin-left: 2.1vw;
}
.iconsss i {
  color: #fd4c82;
}
.iconssss {
  padding-top: 2vw;
  padding-bottom: 4vw;
  margin-left: 5.7vw;
}
.iconssss i {
  color: #fd4c82;
}
.card-button {
  background: #fd4c82;
  margin-left: 2.9vw;
  padding: 1vw 4vw;
  border: none;
  border-radius: 0.6vw;
  outline: none;
  color: white;
}

/* cards-3 */

.cards-3 {
  height: 52vw;
  width: 20vw;
  margin-left: 2vw;
  margin-top: 5vw;
  background: white;
  border-radius: 0.8vw;
  box-sizing: border-box;
}
.cards-3 img {
  height: 15vw;
  width: 20vw;
  box-sizing: border-box;
  border-radius: 0.8vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
}
.cards-3 h2 {
  font-size: 1.3vw;
  color: #fd4c82;
  margin-left: 6.5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-weight: bold;
}
.cards-3 .lesser {
  margin-left: 5vw;
  font-size: 3vw;
  color: #9e9b9b;
}
.cards-3 .greater {
  font-size: 4vw;
  font-weight: 800;
  color: #fd4c82;
}
.cards-3 .smaller {
  font-size: 1.5vw;
  color: #9e9b9b;
}
.icon-padding {
  margin-top: 2vw;
  margin-left: 2.3vw;
  margin-bottom: 2vw;
}
.icon-padding .icon {
  padding: 1vw 4vw;
  background: whitesmoke;
}
.icon i {
  color: #fd4c82;
}
.iconss {
  margin-left: 6.3vw;
  margin-bottom: 2vw;
}
.iconss i {
  color: #fd4c82;
}
.iconsss {
  background: whitesmoke;
  padding: 1vw 4.5vw;
  margin-left: 2.1vw;
}
.iconsss i {
  color: #fd4c82;
}
.iconssss {
  padding-top: 2vw;
  padding-bottom: 4vw;
  margin-left: 5.7vw;
}
.iconssss i {
  color: #fd4c82;
}
.card-button {
  background: #fd4c82;
  margin-left: 2.9vw;
  padding: 1vw 4vw;
  border: none;
  border-radius: 0.6vw;
  outline: none;
  color: white;
}

/* cards-4 */

.cards-4 {
  height: 52vw;
  width: 20vw;
  margin-left: 2vw;
  margin-top: 5vw;
  background: white;
  border-radius: 0.8vw;
  box-sizing: border-box;
}
.cards-4 img {
  height: 15vw;
  width: 20vw;
  box-sizing: border-box;
  border-radius: 0.8vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
}
.cards-4 h2 {
  font-size: 1.3vw;
  color: #fd4c82;
  margin-left: 6.5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-weight: bold;
}
.cards-4 .lesser {
  margin-left: 5vw;
  font-size: 3vw;
  color: #9e9b9b;
}
.cards-4 .greater {
  font-size: 4vw;
  font-weight: 800;
  color: #fd4c82;
}
.cards-4 .smaller {
  font-size: 1.5vw;
  color: #9e9b9b;
}
.icon-padding {
  margin-top: 2vw;
  margin-left: 2.3vw;
  margin-bottom: 2vw;
}
.icon-padding .icon {
  padding: 1vw 4vw;
  background: whitesmoke;
}
.icon i {
  color: #fd4c82;
}
.iconss {
  margin-left: 6.3vw;
  margin-bottom: 2vw;
}
.iconss i {
  color: #fd4c82;
}
.iconsss {
  background: whitesmoke;
  padding: 1vw 4.5vw;
  margin-left: 2.1vw;
}
.iconsss i {
  color: #fd4c82;
}
.iconssss {
  padding-top: 2vw;
  padding-bottom: 4vw;
  margin-left: 5.7vw;
}
.iconssss i {
  color: #fd4c82;
}
.card-button {
  background: #fd4c82;
  margin-left: 2.9vw;
  padding: 1vw 4vw;
  border: none;
  border-radius: 0.6vw;
  outline: none;
  color: white;
}
.justify {
  display: flex;
  justify-content: center;
}
.paragraph h6 {
  font-size: 1vw;
  color: #fd4c82;
  margin-top: 2vw;
  /* margin-left: 9.7vw; */
  font-weight: 800;
}
.paragraph h2 {
  margin-bottom: 4vw;
}
.all-cards {
  display: flex;
  justify-content: center;
}
/* cards-5 */

.cards-5 {
  height: 44vw;
  width: 27vw;
  margin-top: 5vw;
  background: white;
  box-sizing: border-box;
}
.cards-5 img {
  height: 25vw;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 0.8vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw; */
}
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
}
.flex-1 i {
  font-size: 0.8vw;
  color: #fd4e83;
}
.padding-1 {
  padding-left: 2.3vw;
}
.flex-1 {
  font-size: 1vw;
  color: #fd4e83;
}

.flex-2 h3 {
  font-size: 1.4vw;
}
.flex-2:hover {
  color: #fd4e83;
  cursor: pointer;
  transition: 0.3s;
}
.f-part-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.flex-3 i {
  font-size: 0.8vw;
  color: #fd4e83;
}
.flex-3 {
  font-size: 1vw;
  padding-left: 1.5vw;
  color: #fd4e83;
}
.flex-4 h3 {
  font-size: 1.3vw;
  padding-right: 4vw;
  padding-top: 1.5vw;
  color: #9e9b9b;
}
.padding-2 {
  padding-left: 3vw;
}
.card-button-2 {
  background: #fd4c82;
  margin-left: 9vw;
  margin-top: 1vw;
  padding: 0.6vw 1vw;
  border: none;
  border-radius: 0.6vw;
  outline: none;
  color: white;
}

/* cards-6 */

.cards-6 {
  height: 44vw;
  width: 27vw;
  margin-left: 3vw;
  margin-top: 5vw;
  background: white;
  box-sizing: border-box;
}
.cards-6 img {
  height: 25vw;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 0.8vw;
    border-bottom-left-radius: 0vw;
    border-bottom-right-radius: 0vw; */
}
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
}
.flex-1 i {
  font-size: 0.8vw;
  color: #fd4e83;
}
.padding-1 {
  padding-left: 2.3vw;
}
.flex-1 {
  font-size: 1vw;
  color: #fd4e83;
}

.flex-2 h3 {
  font-size: 1.4vw;
}
.flex-2:hover {
  color: #fd4e83;
  cursor: pointer;
  transition: 0.3s;
}
.f-part-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

/* cards-7  */

.cards-7 {
  height: 44vw;
  width: 27vw;
  margin-left: 3vw;
  margin-top: 5vw;
  background: white;
  box-sizing: border-box;
}
.cards-7 img {
  height: 25vw;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 0.8vw;
      border-bottom-left-radius: 0vw;
      border-bottom-right-radius: 0vw; */
}
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
}
.flex-1 i {
  font-size: 0.8vw;
  color: #fd4e83;
}
.padding-1 {
  padding-left: 2.3vw;
}
.flex-1 {
  font-size: 1vw;
  color: #fd4e83;
}

.flex-2 h3 {
  font-size: 1.4vw;
}
.flex-2:hover {
  color: #fd4e83;
  cursor: pointer;
  transition: 0.3s;
}
.f-part-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
footer {
  height: 100vh;
  width: 100%;
  background: #d6d4d4;
}
